<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursera HTML, CSS, and JavaScript - Module 2</title>
    <link rel="stylesheet" href="../static/css/styles.css"> 
</head>

<body>
	
<h1>Our Menu</h1>
	<div class="box">
    <div class="col-lg-4 col-md-6 body">
		<div class="chick_hdr">Chicken</div><br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra eros at arcu dignissim, nec sodales neque fermentum. Aenean non ex justo. Fusce vulputate neque tellus, at tempor mauris consectetur in. Suspendisse eu justo sit amet turpis tempus imperdiet vel vitae est. Sed ut fringilla nibh. Phasellus aliquet vel lacus luctus lobortis. Pellentesque dignissim, mauris eu hendrerit mattis, arcu nibh ultrices est, condimentum finibus nunc nulla nec augue. Quisque eget venenatis tellus, eu auctor arcu. Duis facilisis scelerisque lectus, vitae tristique ante gravida porttitor.
	  </div>
    <div class="col-lg-4 col-md-6 body">
	  <div class="beef_hdr">Beef</div><br>
		Morbi placerat feugiat metus, vel porttitor lacus ullamcorper at. Suspendisse quis metus sed odio pulvinar fermentum. Suspendisse vel est neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum commodo est eget ante placerat vehicula et eget ante. Cras eu felis euismod, rutrum est vitae, gravida arcu. Donec consectetur euismod ex et rhoncus. Sed laoreet magna at odio ultrices, non iaculis augue lobortis. Donec volutpat condimentum nisi, malesuada lacinia urna ullamcorper nec. Fusce mi tortor, dictum at accumsan vel, vestibulum quis mauris. In ac commodo lacus. Cras in magna et libero malesuada consectetur id a sem. Praesent nibh risus, vehicula eget nunc sit amet, mattis pellentesque ligula.
	  </div>
	  <div class="col-lg-4 col-md-6 body">
		<div class="sushi_hdr">Sushi</div><br>
		Sed eu lacus finibus, sodales nunc nec, varius dolor. Aenean consequat metus vitae suscipit placerat. Mauris accumsan tristique urna, nec consectetur magna hendrerit vitae. Etiam tellus ante, semper dapibus metus ut, interdum venenatis metus. Mauris ac felis non enim malesuada posuere vel quis tortor. Aliquam feugiat, lectus in ultrices dictum, orci nunc vulputate tortor, sed lacinia quam nunc non ex. Donec cursus tristique aliquet. Duis id ipsum sed nisl elementum aliquam. Nullam dapibus diam vel leo consectetur vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi interdum enim ut urna fermentum tristique. Suspendisse potenti. Mauris vel porttitor elit. Pellentesque dignissim quis arcu eu efficitur.	
	   </div>
	 </div>
 </div>
</body>
</html>